<div class="text-center mb-10">
    <h1 class="mb-3">Forgot Password ?</h1>
    <div class="text-gray-500 fw-semibold fs-6">Enter your email to reset your password.</div>
</div>

<ng-container *ngIf="submitState === SubmitStates.HasError">
    <div class="text-center">
        <p-message size="large" severity="error">Sorry, looks like there are some errors detected, please try again.</p-message>
        <br />
        <p-button severity="primary" (click)="tryAgain()">Try again</p-button>
    </div>
</ng-container>

<ng-container *ngIf="submitState == SubmitStates.NoError">
    <div class="text-center">
        <p-message size="large" severity="success">Sent password reset. Please check your email.</p-message>
        <br />
        <a pButton severity="primary" routerLink="/auth/login">Ok</a>
    </div>
</ng-container>

<ng-container *ngIf="submitState === SubmitStates.NotSubmitted">
    <form class="form w-100" novalidate="novalidate" [formGroup]="forgotPasswordForm" (ngSubmit)="submitReset()">
        <!--begin::Form group-->
        <div class="w-full mb-8">
            <p-floatlabel>
                <input
                    pInputText
                    type="email"
                    formControlName="email"
                    name="email"
                    autocomplete="off"
                    class="w-full"
                    [ngClass]="{
                        'is-invalid': isFieldInvalid(forgotPasswordForm, 'email'),
                        'is-valid': f['email'].valid
                    }"
                />
                <label class="text-gray-900 fs-6">Email</label>
            </p-floatlabel>
            <ng-container
                [ngTemplateOutlet]="formError"
                [ngTemplateOutletContext]="{
                    validation: 'required',
                    message: 'Email is required',
                    control: f['email']
                }"
            ></ng-container>
            <ng-container
                [ngTemplateOutlet]="formError"
                [ngTemplateOutletContext]="{
                    validation: 'email',
                    message: 'Email is invalid',
                    control: f['email']
                }"
            ></ng-container>
            <ng-container
                [ngTemplateOutlet]="formError"
                [ngTemplateOutletContext]="{
                    validation: 'minLength',
                    message: 'Email should have at least 3 symbols',
                    control: f['email']
                }"
            ></ng-container>
            <ng-container
                [ngTemplateOutlet]="formError"
                [ngTemplateOutletContext]="{
                    validation: 'maxLength',
                    message: 'Email should have maximum 360 symbols',
                    control: f['email']
                }"
            ></ng-container>
        </div>
        <!--end::Form group-->

        <!--begin::Form group-->
        <div class="flex flex-wrap justify-center gap-4">
            <p-button severity="primary" type="submit" [loading]="isLoading$ | async" [label]="(isLoading$ | async) ? 'Please wait...' : 'Submit'"> </p-button>
            <a pButton [outlined]="true" severity="primary" routerLink="/auth/login"> Cancel </a>
        </div>
        <!--end::Form group-->
    </form>
</ng-container>

<ng-template #formError let-control="control" let-message="message" let-validation="validation">
    <ng-container *ngIf="control.hasError(validation) && (control.dirty || control.touched)">
        <div class="p-error">
            <small>{{ message }}</small>
        </div>
    </ng-container>
</ng-template>
